@page "/"
@inject SignatureInMemoryService memoryService
@inject NavigationManager navigationManager
<PageTitle>Index</PageTitle>

<h1>SignaturePad Blazor WebAssembly Demo</h1>
<SignaturePad @bind-Value="Input.Signature" />

@if (Input.Signature.Any())
{
    <h2>Signature</h2>
    <img src="@Input.SignatureAsBase64" />
    <button type="button" class="btn btn-primary" @onclick="SaveSignature">Save signature</button>
    <button type="button" class="btn btn-primary" @onclick="OpenSignature">Open signature</button>
}

@if (memoryService.Signature.Any())
{
    <button type="button" class="btn btn-primary ms-1" @onclick="ReadSignature">Read signature</button>
}