@inject Microsoft.JSInterop.IJSRuntime jsRuntime

<canvas class="signature" id="signature-@_id" style="width: 100%;">
    Get a better browser, bro.
</canvas>

<button type="button" class="btn btn-default" @onclick="Clear">Clear Signature</button>

