@inject Microsoft.JSInterop.IJSRuntime jsRuntime
@namespace SigPad

<canvas class="@Class @(Disabled ? "disabled" : string.Empty)" id="signature-@_id" @attributes="@Attributes">
    Get a better browser, bro.
</canvas>

@if (ShowClearButton && !Disabled)
{
    <button type="button" class="@ClearButtonClass" @onclick="Clear">@ClearButtonText</button>
}

